img {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

#detailContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
/* showDetails content */
h1 {
  text-align: center;
  font-size: 2rem;
  color: white;
}

/* showDetails content + animation */
p {
  font-size: 1.25rem;
  text-align: left;
  padding: 25px;
  margin: 0;
}

h2 {
  font-size: 1.75;
  text-align: center;
}
  
/* This will be the next step into transitioning screens from showDetails to the interface / 
It will need to emit */
  #endDetails {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #endBtn {
    border-radius: 40px;
    padding: 10px 45px;
    margin: 25px 0px;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 0%, rgba(252,176,69,1) 100%);
  }